[user]
	name = Karthik Kumar
	email = kkumar91@vt.edu
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
